<?xml version="1.0"?>
<robot name="assem" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find assem_description)/urdf/mobile_manipulator.xacro" />
  <xacro:include filename="$(find assem_description)/urdf/gazebo.xacro" />
  <xacro:include filename="$(find assem_description)/urdf/ros2_control.xacro" />
  <xacro:include filename="$(find assem_description)/urdf/sensors.xacro" />
    
</robot>
