<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="assem">

  <gazebo>
    <!-- 1. حالة ROS 2 Humble (Ignition Gazebo) -->
    <xacro:if value="$(arg is_ignition)">
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find assem_controller)/config/assem_controllers.yaml</parameters>
      </plugin>
      
      <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>

      <!-- تم تصحيح filename وإزالة f الزائدة -->
    <!--   <plugin filename="ignition-gazebo-vacuum-gripper-system" name="ignition::gazebo::systems::VacuumGripper">
        <topic>/assem/switch_suction</topic>
        <link_name>suction_cup</link_name>
        <max_distance>0.02</max_distance>
      </plugin>-->
    </xacro:if>

    <!-- 2. حالة ROS 2 Jazzy (Gazebo Sim - Harmonic) -->
    <xacro:unless value="$(arg is_ignition)">
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find assem_controller)/config/assem_controllers.yaml</parameters>
      </plugin>
      
      <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>

      <!-- تم تحديث اسم المكتبة ليتوافق مع Gazebo Harmonic في Jazzy -->
      <plugin filename="gz-sim-vacuum-gripper-system" name="gz::sim::systems::VacuumGripper">
        <topic>/assem/switch_suction</topic>
        <link_name>suction_cup</link_name>
        <max_distance>0.05</max_distance>
      </plugin>

      <plugin filename="gz-sim-scene-broadcaster-system" name="gz::sim::systems::SceneBroadcaster"/>
    </xacro:unless>
  </gazebo>

</robot>