<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="assem1_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import assem1_robot urdf file -->
    <xacro:include filename="$(find assem1_description)/urdf/mobile_manipulator.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="assem1_robot.ros2_control.xacro" />


    <xacro:assem1_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
