<?xml version="1.0"?>
<robot name="assem1" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="is_ignition" default="true"/>

  <xacro:include filename="$(find assem1_description)/urdf/mobile_manipulator.xacro" />

  <xacro:include filename="$(find assem1_description)/urdf/gazebo.xacro" />

  <xacro:include filename="$(find assem1_description)/urdf/ros2_control.xacro" />
    
</robot>